.loader-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative; /* Ensures the absolute positioning of circles */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  animation: rotate 0.8s infinite linear;
}

.circle1 {
  background-color: #1fb050;
  bottom: calc(50% - 15px); /* Centers the circle vertically */
  left: calc(50% - 15px); /* Centers the circle horizontally */
  animation-delay: 0s;
}

.circle2 {
  background-color: #b4d575;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  animation-delay: 0.2s;
}

.circle3 {
  background-color: #5D8901;
  top: calc(50% - 15px);
  left: calc(50% - 50px); /* Adjusted to maintain the layout */
  animation-delay: 0.4s;
}

.circle4 {
  background-color: #1daeec;
  top: calc(50% - 15px);
  right: calc(50% - 50px); /* Adjusted to maintain the layout */
  animation-delay: 0.6s;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
